<!doctype html>
<html ng-app>
<head>
<title>Give me a feedback</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/static/components/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/static/components/bootstrap/css/bootstrap-responsive.min.css" />
{% assets "js_all" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
</head>
<body>
{% block extra %}{% endblock %}
<div id="feedback-app" ng-view>
{% block content %}{% endblock %}
</div>
{% block module %}{% endblock %}
</body>
</html>

