<div class="container" ng-controller="GlobalCtrl">
  <div><ng:include src="'/static/templates/nav.html'" /></div>
  <div ng-show="isActive('nav', 'tickets')">
    <div class="row" ng-controller="NewTicketCtrl">
      <div class="span12">
        <form>
          <fieldset>
            <legend>티켓 등록</legend>
            <div class="control-group" ng-class="{error: hasError('project')}">
              <label class="help-block">제안과 관련된 프로젝트를 선택해주세요.</label>
              <div class="controls"><select ng-model="ticket.project" ng-options="project.id as project.name for project in projects"></select></div>
              <span class="help-inline" ng-show="errors.project.length > 0"><span class="badge badge-important">{{errors.project.length}}</span> {{errors.project.join(',')}}</span>
            </div>
            <div class="control-group" ng-class="{error: hasError('name')}">
              <label class="help-block">요약한 내용을 적어주세요.</label>
              <div class="controls"><input type="text" name="name" class="span6" ng-model="ticket.name" placeholder="요약 내용"></div>
              <span class="help-inline" ng-show="errors.name.length > 0"><span class="badge badge-important">{{errors.name.length}}</span> {{errors.name.join(',')}}</span>
            </div>
            <div class="control-group">
              <label class="help-block">제안할 상세한 내용이나 의견을 적어주세요.</label>
              <div class="controls"><textarea name="description" ng-model="ticket.description" class="input-block-level" rows="10"></textarea></div>
            </div>
            <button class="btn btn-success" ng-click="submit()">등록</button>
            <button class="btn" ng-click="cancel()">돌아가기</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>