  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/admin/projects">Admin Dashboard</a>
      <ul class="nav">
        <li><a href="" ng-click="home()">Home</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="btn-toolbar">
        <div class="btn-group">
          <a class="btn" href="/admin/projects/new">프로젝트 등록</a>
          <a class="btn" href="/admin/statistics">통계 정보</a>
        </div>
      </div>
    </div>
  </div>